{%extends 'base.html'%}
{% block content%}

{% if zipcode %}
    {{zipcode}}
{% endif %}

{% if api %}   
    {% if api == "Error ..." %}
        There was an error, please try again ...
    {% else %}
    <div class="jumbotron {{category_color}}">
        <h1 class="display-4">{{ api.0.Category.Name }}</h1>
        <p class="lead"> Date: {{ api.0.DateObserved }} {{ api.0.HourObserved }} {{ api.0.LocalTimeZone }} <br> State : {{ api.0.StateCode }} <br>Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
        
        <p>{{category_description}}</p>      

        
        
    </div>
    <br>
         
    {% endif %}
    
{% endif %}



{% endblock %}


